@import "@/shared/styles/colors";
@import "@/shared/styles/mixins";

.root {
  padding-right: size(60);
}

.rightIcon {
  position: absolute;
  right: size(20);
  width: size(25);

  cursor: pointer;

  path {
    fill: $darkOrchid;
  }
}
