$white: #fcfcfc;
$fuchsia: #c069b4;
$deepLilac: #a658c1;
$darkOrchid: #8c47cf;
$blueViolet: #7237dd;
$black: #180018;
$gradient: linear-gradient(312deg, $blueViolet 0%, $fuchsia 100%);
$gradientHover: linear-gradient(312deg, $fuchsia 0%, $blueViolet 100%);
